{% extends 'spell/base.html' %}
<script>
function goBack() {
  window.history.back();
}
</script>

{% block content %}
  <div class="card" style="width: 600px;">
  <h5 class="card-header">{{ spell }}</h5>
  <div class="card-body">
    <h5 class="card-title">Spell description</h5>
    <p class="card-text">{{spell.description}}</p>
    <p class="card-text">Casting time: {{ spell.casting_time }} </p>
  <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>

  </div>
</div>

{% endblock %}